/*html {
	height: 100%;
}*/


.index {
	background-color: #d4acc7;
	margin: 0;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
}

.index a{
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index: 300;
}

/*#circularcursor {
  cursor: pointer;
  background-color: transparent;
  border:2.5px solid #fec200;    
  height:50px;
  width:50px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  position: absolute;
  z-index: 3000;
}*/

#giant-logo {
	z-index: 100000;
	position:fixed;
	top: 0;
	width: 100%;
	cursor: pointer;
}

/*    	@media screen and (max-width: 1440px) {
    #giant-logo {
width: 125%;

    }
    }*/

        	@media screen and (max-width: 950px) {
    #giant-logo {
display: none;

    }
    }


    #giant-logo2 {
	z-index: 100000;
	position:fixed;
	top: 0;
	width: 100%;
	height: auto;
	cursor: pointer;
	display:  none;
}

/*    	@media screen and (max-width: 1440px) {
    #giant-logo {
width: 125%;

    }
    }*/

        	@media screen and (max-width: 800px) {
    #giant-logo2 {
display: block;

    }
    }

   


#color-top {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 49.2%;
    background-color: #ff3000;
    z-index: -1;

}



.donation-box {
	width: 15%;
	height: auto;
	top: 29em;
	right: 2em;
	z-index: 900;
	position: absolute;
	background-color: #AFAFAF;
	font-family: Helvetica;
	font-size: 0.81em;
	line-height: 1.3em;
/*	line-height: 14px;*/
	padding: 19px;
}


#donate {
	border-bottom: 1px solid;
	padding-bottom: 0.15em;
	display: inline-block;
}

	@media screen and (max-width: 1000px) {
    .donation-box {
	width: auto;
	bottom: 0;
	position: relative;
	right: 0;
	margin: 0;
	padding: 35px;

    }

    }

    	@media screen and (max-width: 1000px) {
    .donation-box p {
    	padding:  20px;
    }

    }


.animated {
	cursor: pointer;
	position: fixed;
	z-index: 9999;
	background-color: #AFAFAF;
	top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-animation-duration: 7.5s;animation-duration: 7.5s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
}


         @-webkit-keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }

         @keyframes fadeOut {
            0% {opacity: 1;}
            100% {opacity: 0;}
         }

         .fadeOut {
            -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
         }

/*
    @media screen and (max-width: 800px) {
    .animated {
display: none;

    }
    }*/


#logo {
/*	z-index: 1000;*/
	position:fixed;
    width:  800px;
    height: 800px;
    left: 50%;
    top:  50%;
    margin-left: -400px; /* 800px/2 = 400px */
    margin-top:  -400px; /* ditto */
}

	@media screen and (max-width: 650px) {
    #logo {
    width:  600px;
    height: 600px;
    margin-left: -300px; /* 100px/2 = 50px */
    margin-top:  -300px; /* ditto */
    }

    }

    	@media screen and (max-width: 430px) {
    #logo {
    width:  400px;
    height: 400px;
    margin-left: -200px; /* 100px/2 = 50px */
    margin-top:  -200px; /* ditto */
    }

    }



/*#square1 {
  position: absolute;
  top: 310px;
  left: 310px;	
  height: 40px;
  width: 40px;
  background-color: #fec200;
  z-index: 800;
  display: inline-block;
}

    	@media screen and (max-width: 920px) {
    #square1 {
  top: 130px;
  left: 30px;		
  height: 30px;
  width: 30px;
    }

    }


#square2 {
  top: 310px;
  left: 350px;		
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #174cf4;
  z-index: 800;
  display: inline-block;
}

	@media screen and (max-width: 920px) {
    #square2 {
  top: 130px;
  left: 60px;		
  height: 30px;
  width: 30px;
    }

    }*/


#rectangle {
	background: conic-gradient(#fec200 0deg 180deg, #174cf4 180deg 360deg);
	height: 40px;
	width: 80px;
	position: fixed;
	top: 310px;
	left: 20%;
	z-index: 30000;
}



footer {
  bottom: 0;
  height: 15px;
  width: 100%;
  background-color: #97CC25;
  margin: 0;
  z-index: 300;
  position: fixed;
}


.introduction {

	background-color: white;
	margin: 0;
	padding: 0;

	}

/*this is to make page appear with a fade-in effect


  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
*/


/*#middle-rectangle {
  border-radius: 20px;
  background: #403f3f;
  padding: 20px;
  width: 150px;
  height: 90px; 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  z-index: -200;
}*/

html::-webkit-scrollbar {
      width: 8px; 
   }

html::-webkit-scrollbar-track {
    background-color: #ff3000;
  }

html::-webkit-scrollbar-thumb {
    background: #A741AA;
    border-radius: 0px;
  }

         	@media screen and (max-width: 800px) {
    html::-webkit-scrollbar {
display: none;

    }
    }

             	@media screen and (max-width: 800px) {
    html::-webkit-scrollbar-track {
display: none;

    }
    }

                 	@media screen and (max-width: 800px) {
    html::-webkit-scrollbar-thumb {
display: none;

    }
    }

#small-logo {
	padding: 15px;
	top: 138px;
	left: 35px;
	position: fixed;
	width: 300px;
	z-index: 900;
}

	@media screen and (max-width: 1440px) {
    #small-logo {
    top:  50px;	
    width:  300px;
    }
    }

    	@media screen and (max-width: 683px) {
    #small-logo {
    top: 50px;	
    left: 50%;
    display: none;
    margin-left: -166px; /* 800px/2 = 400px */
 /*   padding-bottom: 80px;*/
    }
    }






#small-logo2 {
	padding: 15px;
	top: 93px;
	left: 30px;
	position: fixed;
	width: 305px;
	z-index: 900;
}

	@media screen and (max-width: 1440px) {
    #small-logo2 {
    top:  20px;	
    width:  250px;
    }
    }
    	@media screen and (max-width: 683px) {
    #small-logo2 {
    top: 20px;	
    left: 50%;
    margin-left: -140px; /* 800px/2 = 400px */
 /*   padding-bottom: 80px;*/
    }
    }

.container {
	margin: 0 auto;
    outline: solid;
	outline-color: transparent;
	outline-width: 0.4px;
	padding: 200px;
	padding-top: 95px;
    top: 55px;
    width: 40%;
/*	margin-right: 20%;
	margin-left: 20%;*/
	position: relative;
	margin-bottom: 100px;
}

	@media screen and (max-width: 683px) {
    .container {
	margin-top: 80px;
    }
    }


    	@media screen and (max-width: 1440px) {
    .container {
	width: 50%;
	padding: 0;
	top: 250px;
	padding-top: 0px;
	margin-top: 80px;
    }
    }

        	@media screen and (max-width: 1000px) {
    .container {
	width: 70%;
	padding: 0;
	top: 250px;
	padding-top: 0px;
	margin-top: 40px;
    }
    }



.container:hover {
	outline-color: #179eff;
}


/*.wrapper {
	position: absolute;
	top: 33px;
	left: 39px;
	font-family: "Times New Roman";
	width: 680px;
	height: auto;

}*/


#title-intro {
	font-weight: bold;
	color: black;
	font-size: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
}

#title-intro:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
}

/*#line1 {
	width: 100%;
	height: 0px;
	top: 50px;
	border-bottom: 0.4px solid white;
	position: relative;
	z-index: 3;
}*/

#line1:hover {
	border-bottom: 0.4px solid #179eff;
}

#title-text {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-top: 135px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;

}

#title-text:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
}

#title-text2 {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	line-height: 18px;
}

#title-text2:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
	padding: 0;
}

#title-text3 {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	line-height: 18px;
}

#title-text3:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
	padding: 0;
}

#title-text4 {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	position: relative;
/*	left: 50%;
	transform: translateX(-50%);
	z-index: 2;*/
	line-height: 18px;
}

#title-text4:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
	padding: 0;
}

#title-text5 {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 20px;
	text-align: center;
	line-height: 20px;
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	position: relative;
/*	left: 50%;
	transform: translateX(-50%);
	z-index: 2;*/
	line-height: 18px;
}

#title-text5:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
	padding: 0;
}

#title-text6 {
	font-family:  "Apple Symbols";
	color: black;
	font-size: 17px;
	text-align: center;
	line-height: 20px;
/*	margin-bottom: 20px;
	margin-top: 20px;*/
	position: relative;
/*	left: 50%;
	transform: translateX(-50%);
	z-index: 2;*/
	line-height: 18px;
	color: gray;
}

#title-text6:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
	padding: 0;
}



#min {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  margin-top: 30px;
  margin-bottom: 30px;
}

#min:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
}

    	@media screen and (max-width: 683px) {
    #min {
  width: 20%;
    }
    }

#main-text {
	color: black;
	font-size: 26px;
	line-height: 38px;
	position: relative;
	top: 190px;
	z-index: 1;
	margin-bottom: 50px;
}

#main-text:hover {
    outline: solid;
	outline-width: 0.4px;
	outline-color: #179eff;
}

    	@media screen and (max-width: 683px) {
    #main-text {
    font-size: 20px;
    line-height: 30px;
    }
    }

#pink-square {
	height: 25px;
  	width: 25px;
  	background-color: #fec200;
  	position: fixed;
  	bottom: 30px;
  	left: 30px;
  	z-index: 200;
  	cursor: pointer;
}

#pink-square:hover {
	background-color: #174cf4;
}

    	@media screen and (max-width: 683px) {
    #pink-square {
    left: 10px;
    bottom: 10px;
    }
    }
